* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 15px 0;
}

p {
  text-align: center;
}

#canvasWrapper {
  padding-top: 20px;
}

.notSupported {
  color: red;
  text-align: center;
}
